.message{
    display: flex;
    flex-direction: row;
    gap: 8px;

    background: #fff;
    padding: 10px;
    color: #000;
    border-radius: 5px;
    width: auto;
    height: 100%;
    margin: 0 auto;

}

.content{
    flex: 1;
    text-align: left;
}

.status-success{
    background: var(--success-color, var(--default-success-color));
    color: #fff;
}

.status-warning{
    background: var(--warning-color, var(--default-warning-color));
    color: #fff;
}

.status-error{
    background: var(--error-color, var(--default-error-color));
    color: #fff;
}
.status-info{
    background: var(--info-color, var(--default-info-color));
    color: #fff;
}

.icon{
    width: 18px;
    height: 20px;
    flex: 0 0 auto;
}






