.bear-react-toaster__root{
}



.bear-react-toaster__modal{
    position: fixed;
    top: 20px;
    margin: 0 auto;
    text-align: center;
    z-index: 50;

    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;

}

.bear-react-toaster__message{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: #fff;
    padding: 10px;
    color: #000;
    border-radius: 5px;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.bear-react-toaster__content{}

.bear-react-toaster__message-status-success{
    background-color: var(--success-color, #07bc0c);
    color: #fff;
}
.bear-react-toaster__message-status-warning{
    background-color: var(--warning-color, #f1c40f);
    color: #fff;
}

.bear-react-toaster__message-status-error{
    background-color: var(--error-color, #e74c3c);
    color: #fff;
}
.bear-react-toaster__message-status-info{
    background-color: var(--info-color, #3498db);
    color: #fff;
}

.bear-react-toaster__message-icon{
    width: 24px;
    height: 24px;
    transform: scale(0.6);
}



.bear-react-toaster__message-animation{
    overflow: hidden;
    cursor: pointer;
    transition: opacity .4s, transform .4s, height .4s, margin-bottom .4s;
}

.bear-react-toaster__message-animation,
.bear-react-toaster__message-animation.alert-enter{
    opacity: 0;
    transform: translateY(0);
    margin-bottom: 0;
    height: 42px;
}
.bear-react-toaster__message-animation.alert-enter-active{
    opacity: 1;
    transform: translateY(10px);
    margin-bottom: 8px;
}
.bear-react-toaster__message-animation.alert-exit-active{
    transform: translateY(0);
    height: 0;
    opacity: 0;
    margin-bottom: 0;
}


