.bear-react-toaster__portal *,
.bear-react-toaster__portal *::before,
.bear-react-toaster__portal *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
}

.bear-react-toaster__portal{
    --default-index-portal: 80;
    --default-success-color: #07bc0c;
    --default-warning-color: #f1c40f;
    --default-error-color: #e74c3c;
    --default-info-color: #3498db;
}

.bear-react-toaster__portal{
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    max-width: 100%;
    width: auto;

    margin: 0 auto;
    z-index: var(--index-portal, var(--default-index-portal));

    display: flex;
    flex-direction: column;

}

.bear-react-toaster__message{
    display: flex;
    flex-direction: row;
    gap: 8px;

    background: #fff;
    padding: 10px;
    color: #000;
    border-radius: 5px;
    width: auto;
    height: 100%;
    margin: 0 auto;

}

.bear-react-toaster__content{
    flex: 1;
}

.bear-react-toaster__message-status-success{
    background: var(--success-color, var(--default-success-color));
    color: #fff;
}
.bear-react-toaster__message-status-warning{
    background: var(--warning-color, var(--default-warning-color));
    color: #fff;
}

.bear-react-toaster__message-status-error{
    background: var(--error-color, var(--default-error-color));
    color: #fff;
}
.bear-react-toaster__message-status-info{
    background: var(--info-color, var(--default-info-color));
    color: #fff;
}

.bear-react-toaster__message-icon{
    width: 18px;
    height: 20px;
    flex: 0 0 auto;
}



.bear-react-toaster__message-animation{
    overflow: hidden;
    cursor: pointer;
    transition: opacity .4s, transform .4s, height .4s, margin-bottom .4s;
    margin: 0 auto;
}

.bear-react-toaster__message-animation,
.bear-react-toaster__message-animation.alert-enter{
    opacity: 0;
    transform: translateY(0);
    margin-bottom: 0;
    height: auto;
}
.bear-react-toaster__message-animation.alert-enter-active{
    opacity: 1;
    transform: translateY(10px);
    margin-bottom: 8px;
}
.bear-react-toaster__message-animation.alert-exit-active{
    transform: translateY(0);
    height: 0;
    opacity: 0;
    margin-bottom: 0;
}


