.root *,
.root *::before,
.root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
}

.root{
    --default-portal-index: 910;
}

.root{
    position: fixed;

    max-width: 100%;
    width: auto;

    margin: 0 auto;
    z-index: var(--toaster-portal-index, var(--default-portal-index));

    display: flex;
    flex-direction: column-reverse;
    //align-items: center;

    &.position-vertical-top{
        top: 20px;
    }
    &.position-vertical-bottom{
        bottom: 20px;
        flex-direction: column;
    }

    &.position-horizontal-left{
        left: 20px;
    }
    &.position-horizontal-center{
        left: 50%;
        transform: translateX(-50%);
    }
    &.position-horizontal-right{
        right: 20px;
    }
}

