.root *,
.root *::before,
.root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
}

.root{
    --default-portal-index: 910;
}

.root{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);


    max-width: 100%;
    width: auto;

    margin: 0 auto;
    z-index: var(--toaster-portal-index, var(--default-portal-index));

    display: flex;
    flex-direction: column-reverse;

}

